APP_NAME="InfoShare Tickets"
APP_URL="http://localhost/infoShare"
USE_CLEAN_URLS="0"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="bd_infoshare_v1"
DB_USER="root"
DB_PASS=""

APP_TIMEZONE="America/Mexico_City"
SESSION_SAMESITE="Lax"
SESSION_SECURE="0"
